Source: opptimizer-ui
Section: utils
XB-Maemo-Flags: visible
Priority: optional
Maintainer: Lance Colton <lance.colton@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: http://www.appcheck.net

Package: opptimizer-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, opptimizer
Description: Overclock your N9
 This package contains the UI and a daemon to apply overclock on boot.
 The required kernel modules are a different package.
XSBC-Maemo-Display-Name: OpptimizerN9
